.cabeçalho{
    background-color: rgb(85, 5, 122);
    color: black;
    text-align: center;
    padding: 15px;
    
    }
    .body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    }
    .img{
    max-width: 100%;
    height: auto;
    }
    